/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
  color: #434242;
}
.red {
  color: red;
}

/* Title */
.page-title {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 15px 0;
  text-transform: uppercase;
  color: #2c5e77;
}

/* Form */
.form {
  border: 4px solid #2c5e77;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    label {
      font-size: 1.8rem;
      margin-right: 15px;
    }
    input,
    select {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1.8rem;
      width: 300px;
      &:not(:focus) {
        background-color: #f3f1f5;
      }
      &::placeholder {
        color: #434242;
      }
    }
  }

  .form-buttons {
    margin: 15px 0;
    button {
      margin-left: 10px;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      color: #2c5e77;
      font-size: 1.6rem;
    }
  }
  margin: 10px 10px;
}

.message {
  font-size: 1.4rem;
}
